## Introduction to Databases
- A database is an organized collection of data that is stored and managed electronically. 
- Databases are designed to store large amounts of information in a structured way, making it easy to retrieve, update and delete information efficiently and securely.
- The data in a database is typically organized in tables composed of rows and columns. Each row represents a record, and each column represents a field in that record.
- Databases are used in various applications, from simple personal data storage to complex systems like banking, e-commerce, and enterprise resource planning (ERP). 
- They provide the backbone for managing the data needed by software applications to function effectively.

### Importance of Databases
- Efficient Data Management: Databases organize and store large amounts of data efficiently, making retrieval and updates quick and easy.
- Data Integrity: They ensure data is accurate and consistent through rules and transaction management.
- Security: Databases protect data with access controls and encryption, ensuring only authorized users can view or modify it.
- Data Retrieval: Using SQL and indexes, databases allow fast and precise data queries and searches.
- Backup and Recovery: Automated backups and recovery options protect data from loss or corruption.
- Concurrency Control: Databases manage simultaneous data access by multiple users without conflicts.
- Data Relationships: They enable linking related data across tables, simplifying complex queries.
- Data Redundancy: Databases minimize duplicate data and enforce consistency through normalization.
- Reporting and Analytics: They support data analysis and reporting, aiding in informed decision-making.
- Flexibility and Customization: Databases allow custom data structures and extend functionality with features like stored procedures.
- Collaboration and Sharing: Centralized databases enable easy data sharing and consistent information across teams and applications.
- Data Migration and Integration: They facilitate moving and integrating data between systems, ensuring smooth transitions.

### Types of Databases

#### Relational Databases:
- Data is stored in tables with rows and columns.
- Tables can be linked (related) based on common data, and this relationship makes it easy to retrieve and manage the data using Structured Query Language (SQL).

Examples:
- SQLite: A lightweight, serverless, and self-contained relational database engine. It’s embedded in many applications, including browsers and mobile apps, and is ideal for applications with a smaller data footprint. It's built into Python
- MySQL: Widely used in web development for applications like WordPress.
- PostgreSQL: Known for its robustness and support for advanced features.
- Oracle Database: Used in large enterprises for handling vast amounts of data.

#### NoSQL Databases
- Used for more flexible or unstructured data (e.g., JSON-like documents).

Examples:

- MongoDB
- Firebase
- Cassandra

#### Object-Oriented Databases:

- These databases store data in the form of objects, just like how we define objects in Object-Oriented Programming (OOP) in Python.
- Each object includes both data and behavior (methods).
- This type of database works best when you're building software in an OOP language and want a seamless way to store complex data.

Use Case:
- Storing structured data like customers, orders, shapes, or multimedia files in object form.
- Games, simulations, or CAD systems where object properties and behaviors need to be stored together.

Examples:
- db4o: An object-oriented database for Java and .NET developers.
- ObjectDB: A high-performance object database for Java.

#### Graph Databases:
- These databases store data using nodes, edges, and properties — just like a graph in math.
    - Nodes = entities (like people)
    - Edges = relationships (like “follows” or “friends with”)
    - Properties = extra info (like age or city)
- They're perfect when you want to model complex relationships.

Use Case:
- Social networks (e.g., who is connected to whom)
- Fraud detection (tracking suspicious links)
- Recommendation systems (suggesting friends, products)

Examples:
- Neo4j – The most popular graph database, widely used for relationship-heavy data.
- Amazon Neptune – AWS-managed service for scalable graph applications.

#### In-Memory Databases:

- Instead of storing data on a hard disk, these databases keep everything in RAM (memory), making them extremely fast.
- Since memory is faster than disk, these databases are used where speed and real-time performance are critical.

Use Case:
- Real-time analytics
- High-frequency trading
- Gaming leaderboards or session data
- Caching frequently accessed data

Examples:
- SAP HANA – Used for enterprise-level real-time analytics.
- Memcached – A caching system to speed up dynamic websites by storing frequently used data in memory.

#### Cloud Databases:

- These are databases that run on cloud platforms like AWS, Google Cloud, or Azure. You don’t have to manage the hardware or software — it’s all handled for you.
- They offer scalability, automatic backups, and easy remote access.

Use Case:
- Web and mobile apps that need to scale quickly
- Teams working remotely or globally
- Startups that don’t want to manage their own database servers

 Examples:
- Amazon RDS – A managed SQL database that supports MySQL, PostgreSQL, Oracle, and more.
- Google Cloud Firestore – A NoSQL document database for building serverless mobile/web apps.

### Real-World Examples 
- Social Media Platforms: Databases are used to store user profiles, posts, comments, likes, and more. For instance, Facebook uses databases to manage billions of user records.
- E-commerce Websites: Online stores like Amazon use databases to manage product inventories, customer orders, payment information, and shipment tracking.
- Banking Systems: Banks use databases to track customer accounts, transactions, loans, and financial histories securely and accurately.
- Healthcare Systems: Hospitals and clinics use databases to store patient records, treatment histories, medication prescriptions, and insurance information.

###  Core Concepts in Relational Databases
| Term            | Meaning                                              |
| --------------- | ---------------------------------------------------- |
| **Table**       | A set of rows and columns (like Excel sheets)        |
| **Row**         | A single record (e.g., one student)                  |
| **Column**      | A field of data (e.g., name, age, grade)             |
| **Primary Key** | A unique identifier for each row                     |
| **Foreign Key** | A link between tables (e.g., student to course)      |
| **Query**       | A command to get or change data (`SELECT`, `INSERT`) |

### Structured Query Language (SQL) 
- Structured Query Language (SQL) is the standard language for interacting with relational databases. 
- SQL allows you to perform various operations, including creating and managing tables, inserting and querying data, and even automating tasks with stored procedures and triggers.

### Common SQL Commands
| SQL Command    | What It Does                   |
| -------------- | ------------------------------ |
| `CREATE TABLE` | Create a new table             |
| `INSERT INTO`  | Add data                       |
| `SELECT`       | Retrieve data                  |
| `UPDATE`       | Modify existing data           |
| `DELETE`       | Remove data                    |
| `WHERE`        | Add condition (filtering data) |

## SQL Data Types

SQL data types define the kind of data a column can store. Each database (MySQL, PostgreSQL, SQL Server, etc.) may have slight differences, but most share the same basic categories.

### Numeric Data Types (Numbers)

Used to store integers or decimals.

| Data Type       | Description | Example |
|-----------------|------------|---------|
| INT / INTEGER   | Whole numbers | 10, -50 |
| SMALLINT        | Smaller range integers | 1000, -1000 |
| BIGINT          | Very large integers | 1000000000 |
| DECIMAL(p,s) / NUMERIC(p,s) | Fixed-point numbers with precision and scale | 10.25, 123.45 |
| FLOAT / REAL    | Approximate decimal numbers | 3.14, 2.718 |
| DOUBLE / DOUBLE PRECISION | Larger floating-point numbers | 123.456789 |

### Character / String Data Types (Text)

Used to store letters, words, or text.

| Data Type     | Description | Example |
|---------------|------------|---------|
| CHAR(n)       | Fixed-length string | 'USA' |
| VARCHAR(n)    | Variable-length string | 'Hello' |
| TEXT / CLOB   | Long text | 'This is a paragraph...' |

*Tip: Use VARCHAR for most text, TEXT for very long content.*

### Date and Time Data Types

Used to store dates and times.

| Data Type    | Description | Example |
|--------------|------------|---------|
| DATE         | Stores only date | '2025-11-06' |
| TIME         | Stores only time | '14:30:00' |
| DATETIME / TIMESTAMP | Stores date and time | '2025-11-06 14:30:00' |
| YEAR         | Stores a year | '2025' |

### Boolean / Logical Data Types

Used to store True or False values.

| Data Type  | Description | Example |
|------------|------------|---------|
| BOOLEAN    | True / False | TRUE, FALSE |
| BIT        | 0 or 1 | 0, 1 |

### Other / Special Data Types

| Data Type       | Description | Example |
|-----------------|------------|---------|
| BLOB / BYTEA    | Binary data (e.g., images, files) | 0xFFD8FFE0... |
| ENUM            | Fixed set of allowed values | 'small','medium','large' |
| JSON / JSONB    | Store JSON data | '{"name":"John","age":30}' |

*Choosing the right data type is important for storage efficiency, data integrity, and query performance.*

### Using SQLite in Python

#### 1. Import the Library

In [1]:
import sqlite3

#### 2. Create a New Database and Connect to It
This creates a file called `school.db`:

In [34]:
conn = sqlite3.connect("Zindua.db")

conn.execute("PRAGMA foreign_keys = ON")  # Enforces foreign key constraints

In [11]:
cursor = conn.cursor()

`conn = sqlite3.connect("school.db")`
- `sqlite3.connect()` is a function that connects Python to an SQLite database file.
- `"school.db"` is the name of the database file you’re connecting to.
    - If this file already exists, Python connects to it.
    - If it doesn't exist, Python creates it automatically in the current directory.
- `conn` is the connection object, which keeps the link between Python and the database open.

`cursor = conn.cursor()`
- A cursor is like a “control tool” that lets you execute SQL commands (like SELECT, INSERT, UPDATE, DELETE) on the database.
- You need the cursor object to run any SQL queries.
- Think of `conn` as the door to the database, and `cursor` as the pen that writes commands.

 #### 3. Create the students Table

In [12]:
# Create students table
cursor.execute("""
               CREATE TABLE IF NOT EXISTS Students(
               student_id INTEGER PRIMARY KEY AUTOINCREMENT,
               first_name TEXT NOT NULL, 
               last_name TEXT NOT NULL, 
               age INTEGER NOT NULL,
               grade TEXT NOT NULL,
               email TEXT NOT NULL UNIQUE
               )
               """)

conn.commit() # save changes to the database

#### 3.1 Add a new column
You can use ALTER TABLE to add a column:

In [13]:
cursor.execute("ALTER TABLE Students ADD COLUMN phone_number INTEGER")
conn.commit()

 `Note:` SQLite only allows limited structural changes via ALTER TABLE. You can add columns, but not delete or rename columns directly.

### Delete a column

In [ ]:
cursor.execute("ALTER TABLE Students DROP COLUMN phone_number")
conn.commit()

#### 3.2 Rename a column (SQLite ≥ 3.25.0)

In [7]:
cursor.execute("ALTER TABLE Students RENAME COLUMN email TO student_email")
conn.commit()

#### 4. Insert a Record into students

In [15]:
cursor.execute("""
               INSERT INTO Students (first_name, last_name, age, grade, email)
               VALUES (?, ?, ?, ?, ?)
               """, ("Carl", "Assava", 26, "B", "carl@gmail.com"))
conn.commit()

#### Insert multiple students using executemany()

In [16]:
students_data = [
    ("Christine", "Kerubo", 27, "A", "christine@gmail.com"),
    ("Byron", "Morara", 23, "C", "byron@gmail.com"),
    ("Nigel", "Mirambo", 21, "D", "nigel@gmail.com"),
    ("Victor", "Ouma", 25, "B", "victor@gmail.com"),
    ("Melody", "Bonareri", 26, "C", "melody@gmail.com")
]

cursor.executemany("""
                INSERT INTO Students (first_name, last_name, age, grade, email)
                VALUES (?, ?, ?, ?, ?)
                """, students_data)

conn.commit()

#### 5. Select All Records (Read)

In [20]:
cursor.execute("SELECT * FROM Students")
students = cursor.fetchall()

for student in students:
    print(student)

(1, 'Carl', 'Assava', 26, 'B', 'carl@gmail.com')
(2, 'Christine', 'Kerubo', 27, 'A', 'christine@gmail.com')
(3, 'Byron', 'Morara', 23, 'C', 'byron@gmail.com')
(4, 'Nigel', 'Mirambo', 21, 'D', 'nigel@gmail.com')
(5, 'Victor', 'Ouma', 25, 'B', 'victor@gmail.com')
(6, 'Melody', 'Bonareri', 26, 'C', 'melody@gmail.com')

#### 6. Update a Student’s Grade
Update student with `id = 1`:

In [21]:
cursor.execute("""
                UPDATE Students
                SET grade = 'A'
                WHERE student_id = 4
                """)

conn.commit()

In [22]:
cursor.execute("SELECT * FROM Students")
students = cursor.fetchall()

for student in students:
    print(student)

(1, 'Carl', 'Assava', 26, 'B', 'carl@gmail.com')
(2, 'Christine', 'Kerubo', 27, 'A', 'christine@gmail.com')
(3, 'Byron', 'Morara', 23, 'C', 'byron@gmail.com')
(4, 'Nigel', 'Mirambo', 21, 'A', 'nigel@gmail.com')
(5, 'Victor', 'Ouma', 25, 'B', 'victor@gmail.com')
(6, 'Melody', 'Bonareri', 26, 'C', 'melody@gmail.com')

#### 7. Delete a Student Record
Delete the student with `id = 1`:

In [24]:
cursor.execute("DELETE FROM Students WHERE student_id = 1")
conn.commit()

In [25]:
cursor.execute("SELECT * FROM Students")
students = cursor.fetchall()
students

[(2, 'Christine', 'Kerubo', 27, 'A', 'christine@gmail.com'),
 (3, 'Byron', 'Morara', 23, 'C', 'byron@gmail.com'),
 (4, 'Nigel', 'Mirambo', 21, 'A', 'nigel@gmail.com'),
 (5, 'Victor', 'Ouma', 25, 'B', 'victor@gmail.com'),
 (6, 'Melody', 'Bonareri', 26, 'C', 'melody@gmail.com')]

#### Create a Second Table (courses)

In [26]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS courses (
    course_id INTEGER PRIMARY KEY AUTOINCREMENT,
    course_name TEXT NOT NULL UNIQUE
)
""")
conn.commit()
# This will allow us to link each course to a specific student.

#### Insert courses

In [30]:
cursor.execute("""
    INSERT INTO courses (course_name) VALUES (?)
            """, ("Data Science",))
conn.commit()

In [33]:
courses = [
    ("Machine Learning",),
    ("Databases",),
    ("Mathematics",)
]

cursor.executemany("INSERT OR IGNORE INTO courses (course_name) VALUES (?)", courses)
conn.commit()

# show all courses
cursor.execute("SELECT * FROM courses")
print(cursor.fetchall())

[(1, 'Data Science'), (2, 'Machine Learning'), (3, 'Databases'), (4, 'Mathematics')]

### Using Foreign Keys

- **Referential Integrity:**  
  Foreign keys ensure that relationships between tables remain consistent.  
  In this case, the `enrollments` table uses foreign keys to reference the `students` and `courses` tables.  
  This means you cannot add a record to the `enrollments` table with a `student_id` or `course_id` that does not exist in the `students` or `courses` tables, respectively.

- **Cascading Actions:**  
  Foreign keys can be used with cascading actions to automate updates or deletions.  
  For example, if a student is deleted from the `students` table, all their associated records in the `enrollments` table will be automatically deleted.  
  Similarly, if a course is removed from the `courses` table, all related enrollment records for that course will also be deleted.

### Enforcing Referential Integrity
Let’s say you try to insert a course with a student_id that doesn’t exist in the students table:

### Enabling Foreign Keys in SQLite

By default, SQLite may not enforce foreign key constraints unless they are explicitly enabled.

`PRAGMA foreign_keys = ON;`

`PRAGMA` is a special command in SQLite that lets you query or change settings of your database engine.

### Using Foreign Keys with Cascading Actions
SQLite supports several actions that can be performed automatically when a foreign key constraint is violated:

- `ON DELETE CASCADE`: Automatically deletes the related rows in the child table when a row in the parent table is deleted.
- `ON UPDATE CASCADE`: Automatically updates the related rows in the child table when a row in the parent table is updated.

Example: Adding ON DELETE CASCADE

Suppose we want to ensure that when a student is deleted, all their associated enrollment details are also deleted: